
<div class="sidebar">
    <ul>
        <a href="#section1">
        <li>
            <i class="fa-solid fa-house"></i>
            <span class="text">Main</span>
        </li>
    </a>
        <a href="#section2">
        <li>
            <i class="fa-solid fa-address-card"></i>
            <span class="text">About</span>
        </li>
    </a>
        <a href="#section3">
        <li>
            
            <i class="fa-solid fa-list-check"></i>
            <span class="text">Projects</span>
        
        </li>
    </a>
     <a href="#section4"><li>
            <i class="fa-solid fa-phone"></i>
            <span class="text">Contact Me</span>
        </li>
    </a>
    </ul>
</div>
